.heading {
    .text-block-placeholder::before {
        content: attr(placeholder);
        position: absolute;
        opacity: 0.2;
    }
    
    .text-block-placeholder-hidden::before {
        display: none;
    }
}
